root = true

[*.kt]
disabled_rules = formatting
max_line_length = 120
indent_size = 4
continuation_indent_size = 4

[*.kts]
disabled_rules = formatting
max_line_length = 120
indent_size = 4
continuation_indent_size = 4
